/*~~~~~~~$ Global Variables $~~~~~~~*/
:root {
  --main-bg-color: #f0f0f0;
  --primary-color: #007bff;
  --success-color: #28a745;
  --error-color: #dc3545;
  --warning-color: #ffc107;
  --max-container-width: 1200px;
  --border-radius: 10px;
}

/*~~~~~~~$ Reset CSS $~~~~~~~*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 160vh;
  padding: 1rem;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/*~~~~~~~$ Global Styling $~~~~~~~*/
.container {
  max-width: var(--max-container-width);
  margin: 3rem auto;
  padding: 3rem;
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow-x: scroll;
}

h1 {
  margin-bottom: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
}

/*~~~~~~~$ Form Styles $~~~~~~~*/
.form__group {
  margin-bottom: 2rem;
}

.form__label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: #333;
}

.form__input {
  width: 100%;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1.1rem;
  background-color: #f7f7f7;
  transition: border-color 0.3s ease;
}

.form__input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.form__radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form__radio-label {
  margin-right: 1rem;
  font-size: 1.1rem;
  color: #555;
}

.form__radio-input {
  margin-right: 0.5rem;
}

.form__button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #0056b3;
}

.form__icon {
  margin-right: 0.75rem;
}

/*~~~~~~~$ Table Styles $~~~~~~~*/
h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.student-infromation {
  margin-top: 5rem;
}

table {
  width: 100%;
  padding: 0.3rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

th:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

th:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

th,
td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
}

th {
  background-color: var(--primary-color);
  font-weight: bold;
  color: #fff;
}

td {
  color: #333;
  text-transform: capitalize;
}

table tr:nth-child(even) {
  background-color: #007bff2c;
}

table tr {
  border-radius: 1rem;
}

.empty-table {
  text-align: center;
  margin-top: 200px;
}

/*~~~~~~~$ Buttons Styles $~~~~~~~*/
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button.delete {
  background-color: #f44336;
}

.buttons button:hover {
  background-color: #45a049;
}

.buttons button.delete:hover {
  background-color: #c62828;
}

/*~~~~~~~$ Responsive Styles $~~~~~~~*/
@media (max-width: 767px) {
  .container {
    padding: 2rem;
  }

  .form__input,
  .form__button {
    font-size: 1rem;
  }

  th,
  td {
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .form__group {
    margin-bottom: 1.5rem;
  }

  .form__label,
  .form__radio-label {
    font-size: 1rem;
  }

  .form__input,
  .form__button {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 10px;
  }
}

/*~~~~~~~$ Popup Styles $~~~~~~~*/
.custom-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5) rotate(-45deg);
  padding: 1rem;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.custom-popup.show {
  transform: translate(-50%, -50%) scale(1) rotate(0);
  opacity: 1;
}

.custom-popup.info {
  border-color: var(--primary-color);
}

.custom-popup.success {
  border-color: var(--success-color);
}

.custom-popup.error {
  border-color: var(--error-color);
}

.custom-popup.confirm {
  border-color: var(--warning-color);
}

.custom-popup .popup-content {
  text-align: center;
}

.custom-popup .popup-content p {
  margin-bottom: 1rem;
}

.custom-popup .popup-close {
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-popup .popup-close:hover {
  background: #0056b3;
}

.custom-popup.confirm .popup-content div {
  display: flex;
  gap: 1rem;
}

.custom-popup.confirm button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-popup.confirm button:first-child {
  background: var(--success-color);
  color: #fff;
}

.custom-popup.confirm button:first-child:hover {
  background: #218838;
}

.custom-popup.confirm button:last-child {
  background: var(--error-color);
  color: #fff;
}

.custom-popup.confirm button:last-child:hover {
  background: #c82333;
}

.form__input.editing{
  border-color: var(--warning-color);
  background-color: #fff3cd;
}

.form__input.editing:focus {
  box-shadow: 0 0 5px var(--warning-color);
}

.error-message{
  color: #ff0000 !important;
  margin-top: 0.5rem;
  font-size: 1rem;
}